@import '@/styles/vars.scss';

.header {
  position: sticky;
  top: 32px;
  width: 100%;
  margin-right: 0;
  margin-bottom: 24px;
  box-shadow: 0px 8px 12px 0px rgba(48, 57, 70, 0.16);
  background-color: $white;
  border: 1px solid $tagline-dark;
  border-radius: 20px;
  padding: 24px;
  z-index: 3;
}

.modalLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalLogoActive {
  margin-bottom: 24px;
}

@include lg() {
  .header {
    top: 16px;
    padding: 16px 24px;
  }
}

@include md() {
  .header {
    top: 4px;
    margin-bottom: 16px;
  }
}

// @include sm() {
//   .header {
//     padding: 16px 24px;
//     top: 10px;
//     margin-bottom: 16px;
//   }

//   .modalLogoActive {
//     margin-bottom: 16px;
//   }
// }
