@import '@/styles/vars.scss';

.header {
  position: sticky;
  top: 32px;
  width: 100%;
  margin-right: 0;
  margin-bottom: 24px;
  box-shadow: 0px 8px 12px 0px rgba(48, 57, 70, 0.16);
  background-color: $white;
  border: 1px solid $tagline-dark;
  border-radius: 20px;
  padding: 24px;
}

.modalLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalLogoActive {
  margin-bottom: 24px;
}
