@import '@/styles/vars.scss';

.project {
  cursor: pointer;
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

.img {
  width: 100%;
  object-fit: cover;
  max-height: 480px;
  border-radius: 12px;
  margin-bottom: 12px;
}

.projectTitleBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@include md {
  .project {
    margin-bottom: 32px;
  }

  .img {
    max-height: 320px;
  }
}

@include sm {
  .project {
    margin-bottom: 24px;
  }

  .img {
    margin-bottom: 12px;
  }
}
