@import '@/styles/vars.scss';

.wrapper {
  background-color: #ffffff;
  border: 1px solid #e2e8f5;
  border-radius: 24px;
  padding: 48px 32px;
  margin-bottom: 24px;
}

.wrapperSmall {
  background-color: #ffffff;
  border: 1px solid #e2e8f5;
  border-radius: 24px;
  padding: 24px 24px;
}

@include md {
  .wrapper {
    padding: 32px 24px;
    margin-bottom: 16px;
  }
}

@include sm {
  .wrapper {
    padding: 24px 16px;
  }
}
