@import '@/styles/vars.scss';

.title {
  margin-bottom: 32px;
}

.projectWrapper {
  display: flex;
  flex-direction: column;
}

.project {
  cursor: pointer;
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

.img {
  width: 100%;
  object-fit: cover;
  max-height: 480px;
  border-radius: 12px;
  margin-bottom: 12px;
}

.projectTitleBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin-bottom: 4px;
}

.icon {
  background-color: $tagline-light;
  border-radius: 12px;
  padding: 8px;
}

// .projectWrapper {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   gap: 32px 24px;
// }

// .project {
//   height: max-content;
//   cursor: pointer;
// }

// .img {
//   width: 100%;
//   object-fit: cover;
//   border-radius: 12px;
//   margin-bottom: 20px;
// }

// .projectTitleBlock {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }

// .icon {
//   background-color: $tagline-light;
//   border-radius: 12px;
//   padding: 8px;
// }

// .full {
//   width: 200%;
// }

// .projectTitle {
//   margin-bottom: 8px;
// }
