@import './reset.scss';
@import './vars.scss';
@import './fonts.scss';

body {
  font-family: 'Lato';
  max-width: 1360px;
  margin: 0 auto;
  background-color: #e5e7e9;
  padding: 32px 40px;
}

@include md {
  body {
    padding: 32px 24px;
  }
}

@include sm {
  body {
    padding: 4px 8px;
  }
}
