@import '@/styles/vars.scss';

.title {
  margin-bottom: 32px;
}

.projectWrapper {
  display: flex;
  flex-direction: column;
}

.icon {
  background-color: $tagline-light;
  border-radius: 12px;
  padding: 8px;
}

@include sm {
  .title {
    margin-bottom: 24px;
  }
}
