@import '@/styles/vars.scss';

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.date {
  color: $gray;
  min-width: 114px;
  font-weight: 600;
  white-space: nowrap;
  margin-right: 45px;
}

.info {
  width: 100%;
  max-width: 682px;
}

.title {
  margin-bottom: 4px;
}

.subtitle {
  margin-bottom: 12px;
}

.listItem {
  display: flex;
  align-items: baseline;
  margin-bottom: 8px;

  &::before {
    content: '';
    display: block;
    width: 8px;
    min-width: 8px;
    height: 8px;
    min-height: 8px;
    border-radius: 100%;
    background-color: $active;
    margin-right: 8px;
  }
  
  &:last-child {
    margin-bottom: 0;
  }
}

@include lg {
  .info {
    max-width: 760px;
  }
}

@include sm {
  .item {
    flex-direction: column;
  }

  .date {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
    margin-right: 0;
    min-width: auto;
  }

  .info {
    width: 100%;
    max-width: none;
  }

  .title {
    margin-bottom: 0;
  }

  .subtitle {
    margin-bottom: 4px;
  }
}
