@import '@/styles/vars.scss';

.back {
  color: $blue;
  line-height: 26px;
  font-size: 18px;
  display: flex;
  align-items: center;
  border: none;
  background-color: inherit;
  cursor: pointer;
  padding: 0;
  margin-bottom: 16px;

  &::before {
    display: inline-block;
    background-image: url('@assets/icons/arrow-left-active.svg');
    content: '';
    width: 6px;
    height: 10px;
    margin-right: 8px;
  }
}

.title {
  margin-bottom: 4px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLinks {
  display: flex;
  align-items: center;
}

.link {
  width: 50px;
  height: 50px;
  margin-right: 8px;

  &:last-child {
    margin: 0;
  }
}
