@import '@/styles/vars.scss';

.modalWrapper {
  background-color: rgba(11, 31, 51, 0.35);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.swiper {
  height: 100%;
}

.wrapper {
  width: 98%;
  border-radius: 18px;
  margin: 32px;
}

.gallery {
  position: relative;
  width: 100%;
  height: 100%;
}

.icon {
  position: absolute;
  right: 24px;
  top: 24px;
  z-index: 2;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: center;
}

@include md {
  .wrapper {
    margin: 12px;
  }
}

@include sm {
  .wrapper {
    margin: 4px;
  }
}
