@import '@/styles/vars.scss';

.item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  &::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: $active;
    margin-right: 8px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
