@import '@/styles/vars.scss';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main {
  min-width: 770px;
  max-width: 960px;
  width: stretch;
}

.back {
  margin-bottom: 16px;
}

.title {
  margin-bottom: 4px;
}

@include lg {
  .wrapper {
    flex-direction: column;
  }

  .main {
    max-width: none;
    min-width: auto;
  }
}
