@import '@/styles/vars.scss';

.header {
  position: sticky;
  top: 32px;
  width: 418px;
  background-color: $white;
  border: 1px solid $tagline-dark;
  border-radius: 20px;
  padding: 24px;
  margin-right: 24px;
}
