@import '@/styles/vars.scss';

.graph {
  display: flex;
  align-items: center;
}

.graphImg {
  margin-right: 24px;
}

.imgWrapper {
  position: relative;
}

.dot1 {
  left: 8.4%;
  bottom: 5%;
}

.dot2 {
  left: 28.4%;
  bottom: 19%;
}

.dot3 {
  left: 48.5%;
  bottom: 37.7%;
}

.dot4 {
  left: 66.6%;
  bottom: 74%;
}

.graphDot {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;

  p {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: $active;
  }

  div {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 4px solid #6595ff;
    border-radius: 100%;
  }

  & + .dot4 p {
    font-size: 20px;
    line-height: 28px;
  }
}

.img {
  width: 100%;
  height: 212px;
}

.dates {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.graphInfoText {
  padding: 16px 24px;
  border-radius: 16px;
  background-color: rgba(179, 198, 241, 0.2);
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }
}

.infoQuestion {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: $dark-summer;
}

.infoAnswer {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: $active;
}

.svg_text {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;

  &__bold {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
  }
}
